/* Article layout */

$maxWidth: 700px;
$paddingWidth: 16px;

.article-header {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  justify-content: flex-end;
  align-items: center;
}

.article-title {
  max-width: $maxWidth;
  width: 100%;

  h1 {
    margin: 0;
    padding: 20px $paddingWidth;
    font-weight: 300;
    line-height: 40px;
    font-size: 40px;
    letter-spacing: -0.04em;
  }
}

.article-content {
  position: relative;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  background-color: white;

  h2 {
    font-weight: 500;
    font-size: 20px;
  }
}

.article-body {
  max-width: $maxWidth;
  width: 100%;
  padding: $paddingWidth;

  .footnote {
    display: block;
    padding-top: 20px;
  }
}

.article-footer {
  display: flex;
  padding: 30px $paddingWidth;
  justify-content: center;
  align-items: flex-end;

  small {
    margin: 0;
    max-width: $maxWidth;
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-style: italic;
  }
}
