/* Page layout */

$maxWidth: 700px;
$paddingWidth: 16px;

.page-header {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  justify-content: flex-end;
  align-items: center;
}

.page-title {
  max-width: $maxWidth;
  width: 100%;

  h1 {
    margin: 0;
    padding: 20px $paddingWidth;
    font-weight: 300;
    line-height: 40px;
    font-size: 40px;
    letter-spacing: -0.04em;
  }
}

.page-content {
  position: relative;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  background-color: white;

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  h2 {
    font-size: 20px;
    margin: 1em 0;
  }

  h3 {
    font-size: 18px;
    margin: 0.8em 0;
  }

  p {
    margin: 0.8em 0;
  }
}

.page-body {
  max-width: $maxWidth;
  width: 100%;
  padding: $paddingWidth;

  .datetime {
    display: flex;
    justify-content: flex-end;
    color: rgba(0,0,0,0.6);

    span {
      padding-right: 10px;

      &::after {
        content: '·';
        padding-left: 10px;
        font-weight: bold;
      }
    }
  }

  .footnote {
    display: block;
    padding-top: 10px;
  }

  .social {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 80px;

    .twitter {
      iframe {
        width: 90px !important;
      }
    }
  }
}

.page-footer {
  display: flex;
  padding: 30px 20px $paddingWidth;
  justify-content: center;
  align-items: flex-end;

  small {
    margin: 0;
    max-width: $maxWidth;
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-style: italic;
  }
}

.posts-listing {
  list-style-type: none;
  margin: 0;
  padding: 0 0 30px 0;

  li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 20px 0 0;
  }

  .date {
    display: none;
    flex: 0 0 auto;
    padding: 0 0 0 10px;
  }
}

.pagination {
  display: flex;
  justify-content: center;

  a {
    padding: 10px;

    &.next-page::after {
      content: '→';
      padding-left: 5px;
    }

    &.previous-page::before {
      content: '←';
      padding-right: 5px;
    }
  }
}

/** Larger Screens - desktops and tablets **/
@include wide {
  .posts-listing {
    .date {
      display: inline;
    }
  }
}
