/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

p,
ul,
ol {
  font-size: $fontBase;
}

body {
  position: relative;
  font-family: $fontHighlight;
  font-size: $fontBase;
  font-weight: 400;
  color: $colorText;
  background-color: white;
  box-sizing: border-box;
  min-height: 100%;
  line-height: $lineHeight;

  &.open {
    overflow: hidden;
  }
}

.menu {
  top: 0;
  left: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 0;
  background-image: none;
  background-color: transparent;
  border: none;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-tap-highlight-color: transparent;

  svg {
    fill: $colorText;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.2);
    outline: 0;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.side-nav {
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  position: fixed;
  visibility: hidden;
  background-color: white;
  overflow-y: auto;
  z-index: 4;
  transform: translate(-250px, 0);
  will-change: transform, visibility;

  &.open {
    visibility: visible;
    transform: translate(0, 0);
  }

  &.opened {
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      border-bottom-style: solid;
      border-width: 1px;
      border-color: white;
      padding: 0;

      &::before {
        content: none;
      }

      a {
        display: block;
        text-decoration: none;
        color: $colorText;
        font-weight: 400;
        white-space: nowrap;
        height: 60px;
        padding: 17px 20px;
        line-height: 1.4;
        transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }

        &:focus {
          background-color: rgba(255, 255, 255, 0.3);
          outline: 0;
        }

        &:active {
          background-color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
}

.main {
  margin: 0 auto;
  padding: 16px 16px 16px;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.ui-mask-modal {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  left: 0;
  opacity: 0.1;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 3;
  position: fixed;
  transition: visibility 0 linear 0.4s,opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: opacity, visibility;

  &.ui-mask-visible {
    opacity: 1;
    visibility: visible;
    transition-delay: 0;
  }
}

/** Larger Screens - desktops and tablets **/
@include wide {
  $maxWidth: 864px;

  body {
    overflow-y: scroll;
  }

  .menu {
    display: none;
  }

  .side-nav {
    position: relative;
    max-width: $maxWidth;
    width: 100%;
    height: auto;
    margin: 0 auto;
    visibility: visible;
    transform: translate(0, 0);
    transition: none;

    ul {
      max-width: $maxWidth;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      float: right;

      li {
        border: none;
      }
    }
  }

  .main {
    max-width: $maxWidth;
    box-sizing: border-box;
  }
}
