<!doctype html>
<html lang="en" itemscope itemtype="https://schema.org/Person">
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="ui-mask-modal"></div>

    <div class="topbar">
      <button class="menu">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
      </button>
    </div>

    <nav class="nav">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/blog.html">BLOG</a></li>
        <li><a href="/about.html">ABOUT</a></li>
      </ul>
    </nav>

    {{ content }}

    {% include footer.html %}
  </body>
</html>
