/**
*
* Global styles.
*
**/


$backgroundColor: $colorCyan500;
$linkColor: $colorCyan800;
$transitionDuration: 0.3s;
$transitionFunction: cubic-bezier(0.4, 0, 0.2, 1);


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: $fontHighlight;
  font-size: $fontBase;
  font-weight: 400;
  color: $colorText;
  background-color: white;
  line-height: $lineHeight;

  &.open {
    overflow: hidden;
  }
}

p,
ul,
ol {
  font-size: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: $linkColor;
  text-decoration: none;

  &:visited {
    color: $linkColor;
  }

  &:hover {
    color: $linkColor;
  }
}

pre {
  font-size: 0.9em;
  padding: 1em;
  margin: 1em 0;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 0.8em;
  line-height: 1em;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

hr {
  height: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
}

blockquote {
  padding: 0 1em;
  margin: 1em 0;
  color: $colorGray;
  border-left: 4px solid $colorGrayLight;

  p {
    margin: 0 !important;
  }
}

table {
  margin: 1em 0;

  th,
  td {
    border: 1px solid #ddd;
    padding: 6px 13px;
  }

  tr {
    border-top: 1px solid #ccc;
  }
}

img,
video {
  max-width: 100%;
}

// A responsive approach to handle embedded media content.
// Taken (and modified a bit) from:
// https://developers.google.com/web/fundamentals/media/video/size-videos-correctly
.media-container {
  position: relative;
  margin: 1em 0;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
